# File to run test queries on the created database

## Importing required packages

In [1]:
import pandas as pd
import json

## Loading Data Warehouse Parameters from 'dwh.cfg' file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [1]:
DWH_ENDPOINT= *****
DWH_ROLE_ARN= *****

SyntaxError: invalid syntax (<ipython-input-1-a9f676907149>, line 1)

## Connecting to the cluster

In [5]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Testing Queries

In [13]:
%sql SELECT * FROM time LIMIT(5);

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 4, 2, 37, 13), 2, 4, 44, 37, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 4, 3, 2, 20), 3, 4, 44, 2, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 4, 5, 52, 13), 5, 4, 44, 52, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 4, 6, 10, 12), 6, 4, 44, 10, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 4, 6, 18, 31), 6, 4, 44, 18, 2018, 'Sunday')]

In [8]:
%sql SELECT * FROM songplay LIMIT(2)

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(5419, datetime.datetime(2018, 11, 6, 16, 4, 44), 2, 'free', 'SOWQTQZ12A58A7B63E', 'ARPFHN61187FB575F6', '126', 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (5507, datetime.datetime(2018, 11, 6, 16, 38, 15), 2, 'free', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', '126', 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [9]:
%sql SELECT * FROM users LIMIT(2)

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'), (3, 'Isaac', 'Valdez', 'M', 'free')]

In [10]:
%sql SELECT * FROM artist LIMIT(2)

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None)]

In [11]:
%sql SELECT * FROM song LIMIT(2)

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('SOLPTCL12AB0181839', 'Lascivamente', 'AR00FVC1187FB5BE3E', 0, 207.59465),
 ('SOCCSCK12A58A7B859', 'Razamataz', 'AR00LNI1187FB444A5', 0, 226.82077)]

- __Top 10 artists listened to by the users?__

In [20]:
%%sql

SELECT name, COUNT(name)
FROM songplay AS S JOIN artist AS A ON S.artist_id = A.artist_id
GROUP BY name
ORDER BY COUNT(name) DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Muse', 245),
 ('Radiohead', 240),
 ('Coldplay', 232),
 ('Kings Of Leon', 220),
 ('Alliance Ethnik', 150),
 ('Foo Fighters', 126),
 ('The Black Keys', 108),
 ('Beastie Boys', 105),
 ('Jack Johnson', 105),
 ('Cat Stevens', 90)]

- __What day of the week do people listen to music the most?__

In [24]:
%%sql

SELECT weekday, COUNT(weekday)
FROM songplay AS S JOIN time AS T ON S.start_time = T.start_time
GROUP BY weekday
ORDER BY COUNT(weekday) DESC;

 * postgresql://dwhuser:***@dwhcluster.cbtfdyzayysv.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('Friday', 1966),
 ('Wednesday', 1937),
 ('Thursday', 1570),
 ('Tuesday', 1526),
 ('Monday', 1501),
 ('Saturday', 901),
 ('Sunday', 556)]